html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: black;
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
    color: white;
}

a {
    color: wheat;
    font-size: 1em;
}

nav {
    background-color: darkslategrey;
    margin: auto;
    padding: 0;
}

nav .container {
    display: grid;
    grid-template-columns: auto auto;
}

nav ul {
    grid-column-start: 0;
    display: flex;
    list-style-type: none;
}

nav ul li {
    font-size: 2em;
    margin: 10px;
}

.navbar-brand {
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: right;
    margin: 0 10% 0 0;
    font-size: 3em;
}

table {
    margin: auto;
    width: 100%;
}

th {
    font-size: 1.5em;
    padding: 0 0 10px 0;
    background-color: burlywood;
    color: black;
}

td {
    font-size: 1.3em;
    padding: 10px;
}

p {
    font-size: 1em;
}

form {
    display: flex;
}

form p {
    margin: 10px;
    font-size: 1.25em;
}

select {
    font-size: 1.25em;
}

input {
    font-size: 1.25em;
}